@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@media (max-width: 1200px) {

	.container-main {

		> .container-section {

			> .container-section-content {

				> .section-content {
					max-width: 400px !important;

					> .section-title {
						font-size: 64px !important;
						line-height: 60px !important;
						margin-bottom: 24px !important;
					}

					> .section-paragraph {
						font-size: 16px !important;
						line-height: 26px !important;
					}
				}
			}
		}
	}
}

@media (max-width: 900px) {

	.container-main {

		> .container-section {
			flex-direction: column !important;

			&:before {
				left: -120px !important;
			}

			&:after {
				right: -120px !important;
			}

			&.content-left {
				flex-direction: column-reverse !important;

				.section-content {
					padding-right: 80px !important;
				}
			}

			&.section-sand .container-section-image:before { background: linear-gradient(0deg, rgba(249,206,196,1) 0%, rgba(249,206,196,0) 100%) !important; }
			&.section-dive .container-section-image:before { background: linear-gradient(180deg, rgba(0,72,100,0) 0%, rgba(0,72,100,1) 100%) !important; }
			&.section-fish .container-section-image:before { background: linear-gradient(0deg, rgba(10,51,165,1) 0%, rgba(10,51,165,0) 100%) !important; }
			&.section-anemone .container-section-image:before { background: linear-gradient(180deg, rgba(0,12,90,0) 0%, rgba(0,12,90,1) 100%) !important; }
			&.section-coral .container-section-image:before { background: linear-gradient(0deg, rgba(0,145,167,1) 0%, rgba(0,145,167,0) 100%) !important; }

			> .container-section-content {
				align-items: flex-start !important;
				max-width: none !important;
				min-width: 100% !important;
				padding: 0 !important;

				> .section-content {
					padding: 40px !important;
					margin: 0 !important;
					max-width: 100% !important;

					> .section-title {
						font-size: 48px !important;
						line-height: 48px !important;
						margin-bottom: 20px !important;
					}

					> .section-paragraph {
						font-size: 14px !important;
						line-height: 24px !important;
					}
				}
			}

			> .container-section-image {
				max-height: 240px;

				&:before {
					top: auto !important;
					bottom: 0;
					height: 100px !important;
					width: 100% !important;
				}

				> .section-image {
					transform: rotate(-90deg) !important;

					&:before {
						top: -50% !important;
						left: -50% !important;
						width: 200% !important;
						height: 200% !important;
						transform: rotate(90deg) !important;
					}
				}
			}
		}
	}
}

@peach: #F9CEC4;
@royalty: #0A33A5;

@deep-teal: #004864;
@orange: #FF8963;

@pink: #FF55AE;

@dark-navy: #000C5A;
@turquoise: #3EE8AB;

@yellow: #FFD755;
@light-teal: #0091A7;

.transition (@transition) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-ms-transition:     @transition;
	-o-transition:      @transition;
}

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;

    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
	background-color: black;

	.container-main {
		width: 100%;

		> .container-section {
			position: relative;
			display: flex;
			height: 100vh;
			width: 100%;
			overflow: hidden;

			&.section-sand {

				&:before,
				&:after {
					background-color: @royalty;
				}

				> .container-section-content {
					background-color: @peach;
					color: @royalty;
				}

				> .container-section-image {
					background-color: @peach;

					&:before {
						background: linear-gradient(90deg, rgba(249,206,196,1) 0%, rgba(249,206,196,0) 100%);
						left: 0;
					}

					> .section-image {
						background-image: url('/images/beach.jpg');
						background-position: center center;
						background-size: cover;

						&:before {
							background-image: url('/images/beach.jpg');
							background-position: center center;
							background-size: cover;
						}
					}
				}
			}

			&.section-dive {

				&:before,
				&:after {
					background-color: @orange;
				}

				> .container-section-content {
					background-color: @deep-teal;
					color: @orange;
				}

				> .container-section-image {
					background-color: @deep-teal;

					&:before {
						background: linear-gradient(90deg, rgba(0,72,100,0) 0%, rgba(0,72,100,1) 100%);
						right: 0;
					}

					> .section-image {
						background-image: url('/images/dive.jpg');
						background-position: center center;
						background-size: cover;

						&:before {
							background-image: url('/images/dive.jpg');
							background-position: center center;
							background-size: cover;
						}
					}
				}
			}

			&.section-fish {

				&:before,
				&:after {
					background-color: @pink;
				}

				> .container-section-content {
					background-color: @royalty;
					color: @pink;
				}

				> .container-section-image {
					background-color: @royalty;

					&:before {
						background: linear-gradient(90deg, rgba(10,51,165,1) 0%, rgba(10,51,165,0) 100%);
						left: 0;
					}

					> .section-image {
						background-image: url('/images/fish.jpg');
						background-position: center center;
						background-size: cover;

						&:before {
							background-image: url('/images/fish.jpg');
							background-position: center center;
							background-size: cover;
						}
					}
				}
			}

			&.section-anemone {

				&:before,
				&:after {
					background-color: @turquoise;
				}

				> .container-section-content {
					background-color: @dark-navy;
					color: @turquoise;
				}

				> .container-section-image {
					background-color: @dark-navy;

					&:before {
						background: linear-gradient(90deg, rgba(0,12,90,0) 0%, rgba(0,12,90,1) 100%);
						right: 0;
					}

					> .section-image {
						background-image: url('/images/anemone.jpg');
						background-position: center center;
						background-size: cover;

						&:before {
							background-image: url('/images/anemone.jpg');
							background-position: center center;
							background-size: cover;
						}
					}
				}
			}

			&.section-coral {

				&:before,
				&:after {
					background-color: @yellow;
				}

				> .container-section-content {
					background-color: @light-teal;
					color: @yellow;
				}

				> .container-section-image {
					background-color: @light-teal;

					&:before {
						background: linear-gradient(90deg, rgba(0,145,167,1) 0%, rgba(0,145,167,0) 100%);
						left: 0;
					}

					> .section-image {
						background-image: url('/images/coral.jpg');
						background-position: center center;
						background-size: cover;

						&:before {
							background-image: url('/images/coral.jpg');
							background-position: center center;
							background-size: cover;
						}
					}
				}
			}

			> .container-section-content {
				display: flex;
				align-items: center;
				flex: 1;
				height: 100%;
				max-width: 720px;
				min-width: 540px;

				> .section-content {
					width: 100%;
					max-width: 460px;

					> .section-title {
						position: relative;
						font-size: 84px;
						font-weight: 800;
						line-height: 76px;
						margin-bottom: 40px;
						opacity: 0;
					}

					> .section-paragraph {
						position: relative;
						font-size: 18px;
						line-height: 28px;
						opacity: 0;
					}
				}
			}

			> .container-section-image {
				position: relative;
				flex: 1;
				height: 100%;
				overflow: hidden;

				> .section-image {
					position: absolute;
					height: 100%;
					width: 120%;

					&:before {
						position: absolute;
						content: '';
						height: 100%;
						width: 100%;
						top: 0;
						left: 0;
						z-index: 1;
						background-color: orange;
					}
				}

				&:before {
					position: absolute;
					content: '';
					top: 0;
					height: 100%;
					width: 120px;
					z-index: 1;
				}
			}

			&.content-left {

				> .container-section-content {
					padding-right: 40px;

					> .section-content {
						margin-left: 180px;
					}
				}

				> .container-section-image {

					> .section-image {
						left: 0;
					}
				}

				&:after {
					right: 0px;
				}
			}

			&.content-right {

				> .container-section-content {
					padding-left: 40px;

					> .section-content {
						margin-right: 180px;
					}
				}

				> .container-section-image {

					> .section-image {
						right: 0;
					}
				}

				&:after {
					right: 0px;
				}
			}

			&:before,
			&:after {
				position: absolute;
				content: '';
				height: 100%;
				width: 196px;
				z-index: 2;
				top: 0;
				opacity: 0;
			}
		}

		.container-scrolltip {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			bottom: 40px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
			max-width: 140px;

			> .container-mouse {
				position: relative;
				display: flex;
				justify-content: center;
				width: 28px;
				height: 42px;
				border-radius: 14px;
				border: 2px solid @royalty;

				> .scrollwheel {
					position: absolute;
					top: 6px;
					width: 4px;
					height: 4px;
					border-radius: 4px;
					background-color: @royalty;

					animation-name: scrollwheel;
					animation-duration: 2.6s;
					animation-iteration-count: infinite;
				}

				@keyframes scrollwheel {
					0% { transform: translateY(0px); height: 4px; }
					30% { transform: translateY(0px); height: 4px; }
					60% { transform: translateY(0px); height: 12px; }
					80% { transform: translateY(10px); height: 4px; }
					100% { transform: translateY(0px); height: 4px; }
				}
			}

			> .scrolltip {
				font-size: 12px;
				font-weight: 500;
				text-align: center;
				margin-top: 12px;
				color: @royalty;
				line-height: 16px;
			}
		}
	}
}

.section-in {

	&:before, &:after {
		animation-duration: 1.8s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-out;
	}

	.section-title {
		animation-name: item-in;
		animation-duration: 0.8s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-out;
		animation-delay: 0.4s;
	}

	.section-paragraph {
		animation-name: item-in;
		animation-duration: 0.8s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-out;
		animation-delay: 0.8s;
	}

	&.content-left {

		&:before {
			animation-name: cl-triangle-in-left;
		}

		&:after {
			animation-name: cl-triangle-in-right;
		}

		.section-image {
			animation-name: image-move-left;
			animation-duration: 1.8s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-out;
		}
	}

	&.content-right {

		&:before {
			animation-name: cr-triangle-in-left;
		}

		&:after {
			animation-name: cr-triangle-in-right;
		}

		.section-image {
			animation-name: image-move-right;
			animation-duration: 1.8s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-out;
		}
	}


	@keyframes cl-triangle-in-left {
		0% { opacity: 0; transform: translateX(-160px) skew(-12deg); }
		100% { opacity: 1; transform: translateX(-100px) skew(-12deg); }
	}

	@keyframes cl-triangle-in-right {
		0% { opacity: 0; transform: translateX(160px) skew(-12deg); }
		100% { opacity: 1; transform: translateX(100px) skew(-12deg); }
	}

	@keyframes cr-triangle-in-left {
		0% { opacity: 0; transform: translateX(-160px) skew(12deg); }
		100% { opacity: 1; transform: translateX(-100px) skew(12deg); }
	}

	@keyframes cr-triangle-in-right {
		0% { opacity: 0; transform: translateX(160px) skew(12deg); }
		100% { opacity: 1; transform: translateX(100px) skew(12deg); }
	}

	@keyframes image-move-left {
		0% { transform: translateX(0px); opacity: 0; }
		100% { transform: translateX(-30px); opacity: 1; }
	}

	@keyframes image-move-right {
		0% { transform: translateX(0px); opacity: 0; }
		100% { transform: translateX(30px); opacity: 1; }
	}

	@keyframes item-in {
		0% { opacity: 0; top: 20px; filter: blur(10px); transform: scale(0.94); }
		100% { opacity: 1; top: 0px; filter: blur(0px); transform: scale(1); }
	}
}
